Esercizio_Museo/EJB_MuseoWebSClient/src/META-INF/wsdl/localhost_8080/MuseoEJBService/MuseoEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ejb/">

<xs:element name="cercatutti" type="tns:cercatutti"/>

<xs:element name="cercatuttiResponse" type="tns:cercatuttiResponse"/>

<xs:complexType name="cercatutti">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="cercatuttiResponse">
<xs:sequence>
<xs:element name="return" type="tns:museo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="museo">
<xs:sequence>
<xs:element name="citta" type="xs:string" minOccurs="0"/>
<xs:element name="direttore" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="nvisitatori" type="xs:long"/>
<xs:element name="provincia" type="xs:string" minOccurs="0"/>
<xs:element name="regione" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>