BabboNatale/EJB_BabboNatale/EJB_BabboNataleClient1/xml-resources/web-service-references/BambinoEJB/wsdl/localhost_8080/BambinoEJBService/BambinoEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ejb/">

<xs:element name="Cercaid" type="tns:Cercaid"/>

<xs:element name="CercaidResponse" type="tns:CercaidResponse"/>

<xs:element name="Cercalettera" type="tns:Cercalettera"/>

<xs:element name="CercaletteraResponse" type="tns:CercaletteraResponse"/>

<xs:element name="Cercanucleo" type="tns:Cercanucleo"/>

<xs:element name="CercanucleoResponse" type="tns:CercanucleoResponse"/>

<xs:element name="Cercatutti" type="tns:Cercatutti"/>

<xs:element name="CercatuttiResponse" type="tns:CercatuttiResponse"/>

<xs:element name="createBambino" type="tns:createBambino"/>

<xs:element name="createBambinoResponse" type="tns:createBambinoResponse"/>

<xs:element name="deleteBambino" type="tns:deleteBambino"/>

<xs:element name="deleteBambinoResponse" type="tns:deleteBambinoResponse"/>

<xs:element name="updateBambino" type="tns:updateBambino"/>

<xs:element name="updateBambinoResponse" type="tns:updateBambinoResponse"/>

<xs:complexType name="updateBambino">
<xs:sequence>
<xs:element name="arg0" type="tns:bambino" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bambino">
<xs:sequence>
<xs:element name="città" type="xs:string" minOccurs="0"/>
<xs:element name="cognome" type="xs:string" minOccurs="0"/>
<xs:element name="età" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="numerop" type="xs:int"/>
<xs:element name="paese" type="xs:string" minOccurs="0"/>
<xs:element name="priorità" type="xs:boolean"/>
<xs:element name="statol" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBambinoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createBambino">
<xs:sequence>
<xs:element name="arg0" type="tns:bambino" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createBambinoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Cercalettera">
<xs:sequence>
<xs:element name="arg0" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CercaletteraResponse">
<xs:sequence>
<xs:element name="return" type="tns:bambino" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Cercaid">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CercaidResponse">
<xs:sequence>
<xs:element name="return" type="tns:bambino" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBambino">
<xs:sequence>
<xs:element name="arg0" type="tns:bambino" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBambinoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Cercanucleo">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CercanucleoResponse">
<xs:sequence>
<xs:element name="return" type="tns:bambino" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Cercatutti">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="CercatuttiResponse">
<xs:sequence>
<xs:element name="return" type="tns:bambino" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>