BabboNatale/EJB_BabboNatale/EJB_BabboNataleClient1/src/META-INF/wsdl/localhost_8080/BambinoEJBService/BambinoEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb/" name="BambinoEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://ejb/" schemaLocation="http://localhost:8080/BambinoEJBService/BambinoEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="createBambino">
<part name="parameters" element="tns:createBambino"/>
</message>
<message name="createBambinoResponse">
<part name="parameters" element="tns:createBambinoResponse"/>
</message>
<message name="updateBambino">
<part name="parameters" element="tns:updateBambino"/>
</message>
<message name="updateBambinoResponse">
<part name="parameters" element="tns:updateBambinoResponse"/>
</message>
<message name="deleteBambino">
<part name="parameters" element="tns:deleteBambino"/>
</message>
<message name="deleteBambinoResponse">
<part name="parameters" element="tns:deleteBambinoResponse"/>
</message>
<message name="Cercaid">
<part name="parameters" element="tns:Cercaid"/>
</message>
<message name="CercaidResponse">
<part name="parameters" element="tns:CercaidResponse"/>
</message>
<message name="Cercalettera">
<part name="parameters" element="tns:Cercalettera"/>
</message>
<message name="CercaletteraResponse">
<part name="parameters" element="tns:CercaletteraResponse"/>
</message>
<message name="Cercatutti">
<part name="parameters" element="tns:Cercatutti"/>
</message>
<message name="CercatuttiResponse">
<part name="parameters" element="tns:CercatuttiResponse"/>
</message>
<message name="Cercanucleo">
<part name="parameters" element="tns:Cercanucleo"/>
</message>
<message name="CercanucleoResponse">
<part name="parameters" element="tns:CercanucleoResponse"/>
</message>
<portType name="BambinoEJB">
<operation name="createBambino">
<input wsam:Action="http://ejb/BambinoEJB/createBambinoRequest" message="tns:createBambino"/>
<output wsam:Action="http://ejb/BambinoEJB/createBambinoResponse" message="tns:createBambinoResponse"/>
</operation>
<operation name="updateBambino">
<input wsam:Action="http://ejb/BambinoEJB/updateBambinoRequest" message="tns:updateBambino"/>
<output wsam:Action="http://ejb/BambinoEJB/updateBambinoResponse" message="tns:updateBambinoResponse"/>
</operation>
<operation name="deleteBambino">
<input wsam:Action="http://ejb/BambinoEJB/deleteBambinoRequest" message="tns:deleteBambino"/>
<output wsam:Action="http://ejb/BambinoEJB/deleteBambinoResponse" message="tns:deleteBambinoResponse"/>
</operation>
<operation name="Cercaid">
<input wsam:Action="http://ejb/BambinoEJB/CercaidRequest" message="tns:Cercaid"/>
<output wsam:Action="http://ejb/BambinoEJB/CercaidResponse" message="tns:CercaidResponse"/>
</operation>
<operation name="Cercalettera">
<input wsam:Action="http://ejb/BambinoEJB/CercaletteraRequest" message="tns:Cercalettera"/>
<output wsam:Action="http://ejb/BambinoEJB/CercaletteraResponse" message="tns:CercaletteraResponse"/>
</operation>
<operation name="Cercatutti">
<input wsam:Action="http://ejb/BambinoEJB/CercatuttiRequest" message="tns:Cercatutti"/>
<output wsam:Action="http://ejb/BambinoEJB/CercatuttiResponse" message="tns:CercatuttiResponse"/>
</operation>
<operation name="Cercanucleo">
<input wsam:Action="http://ejb/BambinoEJB/CercanucleoRequest" message="tns:Cercanucleo"/>
<output wsam:Action="http://ejb/BambinoEJB/CercanucleoResponse" message="tns:CercanucleoResponse"/>
</operation>
</portType>
<binding name="BambinoEJBPortBinding" type="tns:BambinoEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createBambino">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateBambino">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteBambino">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Cercaid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Cercalettera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Cercatutti">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Cercanucleo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BambinoEJBService">
<port name="BambinoEJBPort" binding="tns:BambinoEJBPortBinding">
<soap:address location="http://localhost:8080/BambinoEJBService/BambinoEJB"/>
</port>
</service>
</definitions>