ENOTECA_COMP/EJB_EnotecaWebSClient/xml-resources/web-service-references/VinoEJB/wsdl/localhost_8080/VinoEJBService/VinoEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ejb/">

<xs:element name="createVino" type="tns:createVino"/>

<xs:element name="createVinoResponse" type="tns:createVinoResponse"/>

<xs:element name="deleteVino" type="tns:deleteVino"/>

<xs:element name="deleteVinoResponse" type="tns:deleteVinoResponse"/>

<xs:element name="ricercaId" type="tns:ricercaId"/>

<xs:element name="ricercaIdResponse" type="tns:ricercaIdResponse"/>

<xs:element name="ricercaPrezzo" type="tns:ricercaPrezzo"/>

<xs:element name="ricercaPrezzoResponse" type="tns:ricercaPrezzoResponse"/>

<xs:element name="ricercaTipologia" type="tns:ricercaTipologia"/>

<xs:element name="ricercaTipologiaResponse" type="tns:ricercaTipologiaResponse"/>

<xs:element name="ricercaVitigno" type="tns:ricercaVitigno"/>

<xs:element name="ricercaVitignoResponse" type="tns:ricercaVitignoResponse"/>

<xs:element name="tuttivini" type="tns:tuttivini"/>

<xs:element name="tuttiviniResponse" type="tns:tuttiviniResponse"/>

<xs:element name="updateVino" type="tns:updateVino"/>

<xs:element name="updateVinoResponse" type="tns:updateVinoResponse"/>

<xs:element name="vino" type="tns:vino"/>

<xs:complexType name="tuttivini">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="tuttiviniResponse">
<xs:sequence>
<xs:element name="return" type="tns:vino" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vino">
<xs:sequence>
<xs:element name="acquisto" type="xs:boolean"/>
<xs:element name="azienda" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nbottiglie" type="xs:int"/>
<xs:element name="nominativo" type="xs:string" minOccurs="0"/>
<xs:element name="prezzo" type="xs:float"/>
<xs:element name="provenienza" type="xs:string" minOccurs="0"/>
<xs:element name="tipologia" type="xs:string" minOccurs="0"/>
<xs:element name="vitigno" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ricercaId">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ricercaIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:vino" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ricercaVitigno">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ricercaVitignoResponse">
<xs:sequence>
<xs:element name="return" type="tns:vino" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createVino">
<xs:sequence>
<xs:element name="arg0" type="tns:vino" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createVinoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updateVino">
<xs:sequence>
<xs:element name="arg0" type="tns:vino" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateVinoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deleteVino">
<xs:sequence>
<xs:element name="arg0" type="tns:vino" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteVinoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ricercaPrezzo">
<xs:sequence>
<xs:element name="arg0" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ricercaPrezzoResponse">
<xs:sequence>
<xs:element name="return" type="tns:vino" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ricercaTipologia">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ricercaTipologiaResponse">
<xs:sequence>
<xs:element name="return" type="tns:vino" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>