ENOTECA_COMP/EJB_EnotecaWebSClient/xml-resources/web-service-references/VinoEJB/wsdl/localhost_8080/VinoEJBService/VinoEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb/" name="VinoEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://ejb/" schemaLocation="http://localhost:8080/VinoEJBService/VinoEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="ricercaPrezzo">
<part name="parameters" element="tns:ricercaPrezzo"/>
</message>
<message name="ricercaPrezzoResponse">
<part name="parameters" element="tns:ricercaPrezzoResponse"/>
</message>
<message name="ricercaId">
<part name="parameters" element="tns:ricercaId"/>
</message>
<message name="ricercaIdResponse">
<part name="parameters" element="tns:ricercaIdResponse"/>
</message>
<message name="ricercaVitigno">
<part name="parameters" element="tns:ricercaVitigno"/>
</message>
<message name="ricercaVitignoResponse">
<part name="parameters" element="tns:ricercaVitignoResponse"/>
</message>
<message name="ricercaTipologia">
<part name="parameters" element="tns:ricercaTipologia"/>
</message>
<message name="ricercaTipologiaResponse">
<part name="parameters" element="tns:ricercaTipologiaResponse"/>
</message>
<message name="updateVino">
<part name="parameters" element="tns:updateVino"/>
</message>
<message name="updateVinoResponse">
<part name="parameters" element="tns:updateVinoResponse"/>
</message>
<message name="tuttivini">
<part name="parameters" element="tns:tuttivini"/>
</message>
<message name="tuttiviniResponse">
<part name="parameters" element="tns:tuttiviniResponse"/>
</message>
<message name="createVino">
<part name="parameters" element="tns:createVino"/>
</message>
<message name="createVinoResponse">
<part name="parameters" element="tns:createVinoResponse"/>
</message>
<message name="deleteVino">
<part name="parameters" element="tns:deleteVino"/>
</message>
<message name="deleteVinoResponse">
<part name="parameters" element="tns:deleteVinoResponse"/>
</message>
<portType name="VinoEJB">
<operation name="ricercaPrezzo">
<input wsam:Action="http://ejb/VinoEJB/ricercaPrezzoRequest" message="tns:ricercaPrezzo"/>
<output wsam:Action="http://ejb/VinoEJB/ricercaPrezzoResponse" message="tns:ricercaPrezzoResponse"/>
</operation>
<operation name="ricercaId">
<input wsam:Action="http://ejb/VinoEJB/ricercaIdRequest" message="tns:ricercaId"/>
<output wsam:Action="http://ejb/VinoEJB/ricercaIdResponse" message="tns:ricercaIdResponse"/>
</operation>
<operation name="ricercaVitigno">
<input wsam:Action="http://ejb/VinoEJB/ricercaVitignoRequest" message="tns:ricercaVitigno"/>
<output wsam:Action="http://ejb/VinoEJB/ricercaVitignoResponse" message="tns:ricercaVitignoResponse"/>
</operation>
<operation name="ricercaTipologia">
<input wsam:Action="http://ejb/VinoEJB/ricercaTipologiaRequest" message="tns:ricercaTipologia"/>
<output wsam:Action="http://ejb/VinoEJB/ricercaTipologiaResponse" message="tns:ricercaTipologiaResponse"/>
</operation>
<operation name="updateVino">
<input wsam:Action="http://ejb/VinoEJB/updateVinoRequest" message="tns:updateVino"/>
<output wsam:Action="http://ejb/VinoEJB/updateVinoResponse" message="tns:updateVinoResponse"/>
</operation>
<operation name="tuttivini">
<input wsam:Action="http://ejb/VinoEJB/tuttiviniRequest" message="tns:tuttivini"/>
<output wsam:Action="http://ejb/VinoEJB/tuttiviniResponse" message="tns:tuttiviniResponse"/>
</operation>
<operation name="createVino">
<input wsam:Action="http://ejb/VinoEJB/createVinoRequest" message="tns:createVino"/>
<output wsam:Action="http://ejb/VinoEJB/createVinoResponse" message="tns:createVinoResponse"/>
</operation>
<operation name="deleteVino">
<input wsam:Action="http://ejb/VinoEJB/deleteVinoRequest" message="tns:deleteVino"/>
<output wsam:Action="http://ejb/VinoEJB/deleteVinoResponse" message="tns:deleteVinoResponse"/>
</operation>
</portType>
<binding name="VinoEJBPortBinding" type="tns:VinoEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ricercaPrezzo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ricercaId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ricercaVitigno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ricercaTipologia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateVino">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tuttivini">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createVino">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteVino">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="VinoEJBService">
<port name="VinoEJBPort" binding="tns:VinoEJBPortBinding">
<soap:address location="http://localhost:8080/VinoEJBService/VinoEJB"/>
</port>
</service>
</definitions>