Scuola/EJB_ScuolaWebSClient/xml-resources/web-service-references/ScuolaEJB/wsdl/localhost_8080/ScuolaEJBService/ScuolaEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb/" name="ScuolaEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://ejb/" schemaLocation="http://localhost:8080/ScuolaEJBService/ScuolaEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="ricercaId">
<part name="parameters" element="tns:ricercaId"/>
</message>
<message name="ricercaIdResponse">
<part name="parameters" element="tns:ricercaIdResponse"/>
</message>
<message name="ricercaNumero">
<part name="parameters" element="tns:ricercaNumero"/>
</message>
<message name="ricercaNumeroResponse">
<part name="parameters" element="tns:ricercaNumeroResponse"/>
</message>
<message name="updateScuola">
<part name="parameters" element="tns:updateScuola"/>
</message>
<message name="updateScuolaResponse">
<part name="parameters" element="tns:updateScuolaResponse"/>
</message>
<message name="ricercaProvincia">
<part name="parameters" element="tns:ricercaProvincia"/>
</message>
<message name="ricercaProvinciaResponse">
<part name="parameters" element="tns:ricercaProvinciaResponse"/>
</message>
<message name="deleteScuola">
<part name="parameters" element="tns:deleteScuola"/>
</message>
<message name="deleteScuolaResponse">
<part name="parameters" element="tns:deleteScuolaResponse"/>
</message>
<message name="cercaTutti">
<part name="parameters" element="tns:cercaTutti"/>
</message>
<message name="cercaTuttiResponse">
<part name="parameters" element="tns:cercaTuttiResponse"/>
</message>
<message name="createScuola">
<part name="parameters" element="tns:createScuola"/>
</message>
<message name="createScuolaResponse">
<part name="parameters" element="tns:createScuolaResponse"/>
</message>
<message name="ricercaTipologia">
<part name="parameters" element="tns:ricercaTipologia"/>
</message>
<message name="ricercaTipologiaResponse">
<part name="parameters" element="tns:ricercaTipologiaResponse"/>
</message>
<portType name="ScuolaEJB">
<operation name="ricercaId">
<input wsam:Action="http://ejb/ScuolaEJB/ricercaIdRequest" message="tns:ricercaId"/>
<output wsam:Action="http://ejb/ScuolaEJB/ricercaIdResponse" message="tns:ricercaIdResponse"/>
</operation>
<operation name="ricercaNumero">
<input wsam:Action="http://ejb/ScuolaEJB/ricercaNumeroRequest" message="tns:ricercaNumero"/>
<output wsam:Action="http://ejb/ScuolaEJB/ricercaNumeroResponse" message="tns:ricercaNumeroResponse"/>
</operation>
<operation name="updateScuola">
<input wsam:Action="http://ejb/ScuolaEJB/updateScuolaRequest" message="tns:updateScuola"/>
<output wsam:Action="http://ejb/ScuolaEJB/updateScuolaResponse" message="tns:updateScuolaResponse"/>
</operation>
<operation name="ricercaProvincia">
<input wsam:Action="http://ejb/ScuolaEJB/ricercaProvinciaRequest" message="tns:ricercaProvincia"/>
<output wsam:Action="http://ejb/ScuolaEJB/ricercaProvinciaResponse" message="tns:ricercaProvinciaResponse"/>
</operation>
<operation name="deleteScuola">
<input wsam:Action="http://ejb/ScuolaEJB/deleteScuolaRequest" message="tns:deleteScuola"/>
<output wsam:Action="http://ejb/ScuolaEJB/deleteScuolaResponse" message="tns:deleteScuolaResponse"/>
</operation>
<operation name="cercaTutti">
<input wsam:Action="http://ejb/ScuolaEJB/cercaTuttiRequest" message="tns:cercaTutti"/>
<output wsam:Action="http://ejb/ScuolaEJB/cercaTuttiResponse" message="tns:cercaTuttiResponse"/>
</operation>
<operation name="createScuola">
<input wsam:Action="http://ejb/ScuolaEJB/createScuolaRequest" message="tns:createScuola"/>
<output wsam:Action="http://ejb/ScuolaEJB/createScuolaResponse" message="tns:createScuolaResponse"/>
</operation>
<operation name="ricercaTipologia">
<input wsam:Action="http://ejb/ScuolaEJB/ricercaTipologiaRequest" message="tns:ricercaTipologia"/>
<output wsam:Action="http://ejb/ScuolaEJB/ricercaTipologiaResponse" message="tns:ricercaTipologiaResponse"/>
</operation>
</portType>
<binding name="ScuolaEJBPortBinding" type="tns:ScuolaEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ricercaId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ricercaNumero">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateScuola">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ricercaProvincia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteScuola">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaTutti">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createScuola">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ricercaTipologia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ScuolaEJBService">
<port name="ScuolaEJBPort" binding="tns:ScuolaEJBPortBinding">
<soap:address location="http://localhost:8080/ScuolaEJBService/ScuolaEJB"/>
</port>
</service>
</definitions>