Scuola/EJB_ScuolaWebSClient/xml-resources/web-service-references/ScuolaEJB/wsdl/localhost_8080/ScuolaEJBService/ScuolaEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ejb/">

<xs:element name="cercaTutti" type="tns:cercaTutti"/>

<xs:element name="cercaTuttiResponse" type="tns:cercaTuttiResponse"/>

<xs:element name="createScuola" type="tns:createScuola"/>

<xs:element name="createScuolaResponse" type="tns:createScuolaResponse"/>

<xs:element name="deleteScuola" type="tns:deleteScuola"/>

<xs:element name="deleteScuolaResponse" type="tns:deleteScuolaResponse"/>

<xs:element name="ricercaId" type="tns:ricercaId"/>

<xs:element name="ricercaIdResponse" type="tns:ricercaIdResponse"/>

<xs:element name="ricercaNumero" type="tns:ricercaNumero"/>

<xs:element name="ricercaNumeroResponse" type="tns:ricercaNumeroResponse"/>

<xs:element name="ricercaProvincia" type="tns:ricercaProvincia"/>

<xs:element name="ricercaProvinciaResponse" type="tns:ricercaProvinciaResponse"/>

<xs:element name="ricercaTipologia" type="tns:ricercaTipologia"/>

<xs:element name="ricercaTipologiaResponse" type="tns:ricercaTipologiaResponse"/>

<xs:element name="scuola" type="tns:scuola"/>

<xs:element name="updateScuola" type="tns:updateScuola"/>

<xs:element name="updateScuolaResponse" type="tns:updateScuolaResponse"/>

<xs:complexType name="cercaTutti">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="cercaTuttiResponse">
<xs:sequence>
<xs:element name="return" type="tns:scuola" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="scuola">
<xs:sequence>
<xs:element name="acquisto" type="xs:boolean"/>
<xs:element name="argomento" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="numeroS" type="xs:int"/>
<xs:element name="provincia" type="xs:string" minOccurs="0"/>
<xs:element name="responsabile" type="xs:string" minOccurs="0"/>
<xs:element name="tipologia" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ricercaNumero">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ricercaNumeroResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ricercaProvincia">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ricercaProvinciaResponse">
<xs:sequence>
<xs:element name="return" type="tns:scuola" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ricercaId">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ricercaIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:scuola" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateScuola">
<xs:sequence>
<xs:element name="arg0" type="tns:scuola" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateScuolaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deleteScuola">
<xs:sequence>
<xs:element name="arg0" type="tns:scuola" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteScuolaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ricercaTipologia">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ricercaTipologiaResponse">
<xs:sequence>
<xs:element name="return" type="tns:scuola" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createScuola">
<xs:sequence>
<xs:element name="arg0" type="tns:scuola" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createScuolaResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>