Esercizio_Quadri/EJB_QuadroWebSClient/xml-resources/web-service-references/QuadroEJB/wsdl/localhost_8080/QuadroEJBService/QuadroEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ejb/">

<xs:element name="cercarestauro" type="tns:cercarestauro"/>

<xs:element name="cercarestauroResponse" type="tns:cercarestauroResponse"/>

<xs:element name="quadro" type="tns:quadro"/>

<xs:complexType name="cercarestauro">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cercarestauroResponse">
<xs:sequence>
<xs:element name="return" type="tns:quadro" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="quadro">
<xs:sequence>
<xs:element name="anno" type="xs:int"/>
<xs:element name="autore" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="sala" type="xs:int"/>
<xs:element name="stato" type="xs:string" minOccurs="0"/>
<xs:element name="tecnica" type="xs:string" minOccurs="0"/>
<xs:element name="titolo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>